<div class="modal fade" id="addsavetoproject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addsavetoprojectLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addsavetoprojectLabel">Add to Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="form-floating mb-3">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
          <% @list_of_rooms.each do |a_room|%>
            <% if @the_project.id == a_room.project_id %>
            <option value="<%=a_room.name%>"><%=a_room.name%></option>
            <%end%>
          <%end%>
          </select>
          <label for="floatingSelect">Select Space</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>