<div class="container-fluid mb-2">
  <div class="row">
    <div class="col">
      <div class="card material">
        <a href="/materials/<%= the_save.material.id %>"><img src="<%= the_save.material.photo_ref%>" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= the_save.material.name %></h6>
          </div>
      </div>
    </div>
  </div>
</div>