<div>
  <h1>
    Your Palettes
  </h1>
</div>

<% @list_of_palettes.each do |a_palette| %>
  <%if a_palette.user_id == session.fetch(:user_id)%>
    <div class="card mw-100 mt-2">
      <div class="card-body">
        <h5 class="card-title"><%= a_palette.palette_name %></h5>
         <p class="card-text"><%= a_palette.description %></p>
          <a href="/palettes/<%= a_palette.id %>" class="btn btn-outline-dark">View Palette</a>
      </div>
    </div>
  <% end %>
<% end %>

<hr>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
<i class="fas fa-plus-circle"></i> New Palette
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add new palette</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 
      
      <! modal body >

<form action="/insert_palette" method="post">
      <div>
      <div>
        <input type="hidden" name="query_user_id" value="<%= session.fetch(:user_id) %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create palette
      </button>
    </form>
  </div>
</div>
    
      <! modal body end>

    </form>
      </div>
    </div>
  </div>
</div>
