<div class="row mt-5">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div>
      <h1 class="text-center">Suppl</h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6 mt-5">
    <form class="d-flex">
      <input class="form-control me-2" type="search" name="query_search" placeholder="Suppl away..." aria-label="Search">
      <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-1 mt-5"></div>

  <div class="col-md-3 mt-5 text-center"><i class="fas fa-search fa-4x"></i></div>

  <div class="col-md-4 mt-5 text-center"><i class="far fa-building fa-4x"></i></div>

  <div class="col-md-3 mt-5 text-center" text-center><i class="fas fa-shopping-cart fa-4x"></i></div>

  <div class="col-md-1"></div>

  </div>

  <div class="row mt-5">
  <div class="col-md-1 mt-1"></div>

  <div class="col-md-3 mt-1 text-center"><strong>Find Materials</strong></div>

  <div class="col-md-4 mt-1 text-center"><strong>Create Projects</strong></div>

  <div class="col-md-3 mt-1 text-center"><strong>Purchase Direct</strong></div>

  <div class="col-md-1"></div>

  </div>
