<div>
  <div>
    <h1>
      Projects
    </h1>
  </div>
</div>

<hr>

<% @list_of_projects.each do |a_project| %>
  <%if a_project.user_id == session.fetch(:user_id)%>
  <div class="card mw-100 mt-2">
    <div class="card-body">
      <h5 class="card-title"><%= a_project.project_name %></h5>
        <p class="card-text"><%= a_project.description %></p>
        <a href="/projects/<%= a_project.id %>" class="btn btn-outline-dark">View Project</a>
      </div>
    </div>
  <% end %>
<% end %>

<hr>

<!--New Project Modal-->
<button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#addnewproject">
<i class="fas fa-plus-circle"></i> New
</button>

<%= render "projects/new_project_modal" %>