<div>
  <div>
    <h1>
      Projects
    </h1>
  </div>
</div>

<hr>

<% @list_of_projects.each do |a_project| %>
  <%if a_project.user_id == session.fetch(:user_id)%>
  <div class="card mw-100 mt-2">
    <div class="card-body">
      <h5 class="card-title"><%= a_project.project_name %></h5>
        <p class="card-text"><%= a_project.description %></p>
        <a href="/projects/<%= a_project.id %>" class="btn btn-primary">View Project</a>
      </div>
    </div>
  <% end %>
<% end %>

<hr>

<! Modal >

<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
<i class="fas fa-plus-circle"></i> New
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add new project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <form action="/insert_project" method="post">
        <div class="row mb-3">
          <label for="project_name" class="col-sm-2 col-form-label">Project Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="project_name" name="query_project_name">
          </div>
        </div>

        <div>
          <input type="hidden" id="user_id_box" name="query_user_id" value="<%= session.fetch(:user_id) %>">
        </div>
  
        <div class="row mb-3">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="query_description">
          </div>
        </div>

        <div class="row mb-3">
          <label for="photo" class="col-sm-2 col-form-label">Photo</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="photo" name="query_photo">
          </div>
        </div>

  <button type="submit" class="btn btn-primary">Create Project</button>
  </form>

      </div>
    </div>
  </div>
</div>