<%= search_form_for @q do |f| %>
<div class="row mt-2">
  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <div>
      <%#= f.label :type_cont, "Material Type" %>
      <%#= f.text_field :type_cont, :placeholder => "Select Material Type", :class => "form-control me-2" %>
    </div>

    <div class="input-group mb-3">
      <%#= f.label :name_cont, "Material Name" %>
      <%= f.text_field :name_cont, :placeholder => "Suppl away...", :class => "form-control" %>
      <%= f.submit :class => "btn btn-outline-dark" %>
    </div>

    <div>
      <%#= f.label :year_lteq, "Released before" %>
      <%#= f.text_field :year_lteq, :placeholder => "Year less than or equal to" %>
    </div>

  </div>
  
  <a href="/movies">Clear filters</a>
<% end %>

<hr>

<div class="row g-2">
<% @list_of_materials.each do |a_material| %>
  <div class="col-3"><%= render "materials/material", { :the_material => a_material } %></div>
<% end %>
</div>