      <div class="modal fade" id="signin" tabindex="-1" aria-labelledby="sign_in" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="sign_in"><strong>Sign In</strong></h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            <form action="/user_verify_credentials" method="post">

            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="query_email">
              <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="query_password">
              <label for="floatingPassword">Password</label>
            </div>

            <div>
            <button type="submit" class="btn btn-outline-dark">Sign in</button>
            </div>
            </form>

            <hr>

            <p>
              Or, <a href="" data-bs-toggle="modal" data-bs-target="#signup"><strong>Sign up</strong></a> instead.
            </p>
            
          </div>
        </div>
      </div>