<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="sign_up" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="sign_up"><strong>Join Suppl</strong></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_user" method="post">

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="query_first_name">
        </div>
    
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="query_last_name">
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="query_username">
      </div>

      <div class="input-group mb-3">
        <input type="email" class="form-control" id="email_box" name="query_email" placeholder="Choose a email..." type="text">
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="password" class="form-control" placeholder="Password" aria-label="password" name="query_password">
      </div>

      <div class="col">
        <input type="password" class="form-control" placeholder="Confirm Password" aria-label="confirm_password" name="query_password_confirmation">
      </div>
    </div>

  <div class="form-floating mb-3">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Select User Type</option>
      <option value="designer">Designer</option>
      <option value="supplier">Supplier</option>
      <option value="owner">Owner</option>
    </select>
    <label for="floatingSelect">User Type</label>
  </div>

  <button type="submit" class="btn btn-outline-primary">Sign up</button>
</form>

<hr>

<p>
  Or, <a href="" data-bs-toggle="modal" data-bs-target="#signin"><strong>Sign in</strong></a> instead.
</p>
            
          </div>
        </div>
      </div>
