<h1>Sign in</h1>

<form action="/user_verify_credentials" method="post">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" name="query_email">
      </div>
  </div>
  
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="query_password">
      </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

  <hr>

  <p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
  </p>



